[Pandas](http://pandas.pydata.org/) is a Python Data Analysis Library. It allows you to play around with data and perform powerful data analysis. 

In this example I will show you how to read CSV data in pandas. The sample data used in the below exercise was generated by https://mockaroo.com/.

In [7]:
import pandas as pd

In [8]:
data_df = pd.read_csv('data/MOCK_DATA.csv')

Preview the first 5 lines of the data with `.head()` to ensure that it loaded.

In [10]:
data_df.head()

   id first_name last_name                    email  gender       ip_address
0   1       Ross    Ricart    rricart0@berkeley.edu    Male  217.151.154.186
1   2       Jenn     Pizer       jpizer1@usnews.com  Female   104.123.13.234
2   3   Delainey    Sulley        dsulley2@xing.com    Male      6.101.0.150
3   4     Nessie     Feirn      nfeirn3@samsung.com  Female    97.93.173.170
4   5      Noami   Flanner  nflanner4@woothemes.com  Female  174.228.138.242